
/*

  INSTRUCTIONS ---------------------------------------------------------------------------------
  
  1. Add this stylesheet to the <head> of your pages
     <link href="YOUR PATH/alta.css" rel="stylesheet" type="text/css" />
     
  2. Use the file name as data-dd-theme attribute on your datedropper elements
     <input data-dd-theme="alta" />
     
*/


div.datedropper.alta {

  --dd-color1: #FC7634;
  --dd-color2: #FFF;
  --dd-color3: #222222;
  --dd-color4: #FFF;

  --dd-radius: 16px;
  --dd-width: 200px;
  --dd-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.1);

}

